# Email provider: sendgrid | brevo
EMAIL_PROVIDER=brevo

# SendGrid (if EMAIL_PROVIDER=sendgrid)
SENDGRID_API_KEY=

# Brevo (if EMAIL_PROVIDER=brevo)
BREVO_API_KEY=

# Contact form destination & verified sender
CONTACT_TO=youness.jabar.pro@gmail.com
CONTACT_FROM=youness.jabar.pro@gmail.com

# Google reCAPTCHA v2 (checkbox)
GOOGLE_RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY=
